h1 { color: red; width: 300px; }

img {
    border: 10px solid violet;
    border-radius: 40%;
 }

 header {
    border: 10px solid yellowgreen;
    padding: 50px;
    margin: 30px;
    margin-top: 40px;
    font-weight: bold;
}

 nav {
    border: 5px solid gray;
 }

 h3 {
    border: 5px solid gray;
 }

